[submodule "pack/my-plugins/start/dracula"]
	path = pack/my-plugins/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "pack/my-plugins/start/ctrlp.vim"]
	path = pack/my-plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "pack/my-plugins/start/syntastic"]
	path = pack/my-plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/my-plugins/start/vim-dispatch"]
	path = pack/my-plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "pack/my-plugins/start/vim-ps1"]
	path = pack/my-plugins/start/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "pack/my-plugins/start/vim-airline"]
	path = pack/my-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/my-plugins/start/vim-airline-themes"]
	path = pack/my-plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/my-plugins/start/nerdtree"]
	path = pack/my-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/my-plugins/start/vim-multiple-cursors"]
	path = pack/my-plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "pack/my-plugins/start/vim-gitgutter"]
	path = pack/my-plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/my-plugins/start/typescript-vim"]
	path = pack/my-plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/my-plugins/start/vim-jsx-improve"]
	path = pack/my-plugins/start/vim-jsx-improve
	url = https://github.com/neoclide/vim-jsx-improve.git
[submodule "pack/my-plugins/start/vim-vue"]
	path = pack/my-plugins/start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "pack/my-plugins/start/vim-abolish"]
	path = pack/my-plugins/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
